# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/venv
*/__pycache__
*__pycache__
*.env
.idea
db.sqlite3
.coverage
/htmlcov/
online-quiz-mobile-app-firebase-adminsdk-avvbd-839f9174e8.json
